apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingestor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingestor
  template:
    metadata:
      labels:
        app: ingestor
    spec:
      containers:
      - name: ingestor
        image: ingestor:latest
        imagePullPolicy: Never
        env:
        - name: MQTT_HOST
          value: "mosquitto-cloud"
        - name: SENSOR_TOPIC_DATA
          value: "room1/temperature"
        - name: SENSOR_TOPIC_STATUS
          value: "room1/heatpump"
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: ingestor
spec:
  selector:
    app: ingestor
  ports:
    - name: http
      protocol: TCP
      port: 5000
      targetPort: 5000
